.title {
    margin-top: 3rem;
}
.form-inscrip {
    display: inline-block;
    background-color: #fff;
    border-color: aqua;
    border-radius: 20px;
    box-sizing: border-box;
    color: #000;
    font-family: 'Roboto-Black', sans-serif;;
    font-size: 16px;
    padding: 2rem;
    width: 70vh;
}
 
.form-inscrip h1 {
    font-size: 21px;
    font-weight: normal;
    font-family: 'Roboto-Black', sans-serif;
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}
 
.form-inscrip h3 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto-Black', sans-serif;
    margin: 0;
    text-align: center;
}
 
.form-inscrip label{
    color: #000;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    padding-bottom: 5px;
}
.sub-label{
    text-align: left;
    padding-left: 0;
}
 
.form-inscrip select{
    width: 70px;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 0px 5px;
    height: 25px;
}
 
.form-nombre,

.form-infoE2,
.form-direccion,
.form-infoE,
.form-InfM,
.form-InfP,
.form-InfA,
.form-InfA2,
.form-Ob {
    display: flex;
    padding-top: 1%;
    height: 26px;
}

.form-infoE3{
    display: absolute;
}

.form-nombre input[type="text"] {
    width: 48.5%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 2px 5px;
    height: 20px;
}

.form-infoE input[type="text"] {
    width: 100%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 2px 5px;
    height: 20px;
}

.form-inscrip input[type="date"] {
    width: 300px;
    border:1px solid #06c;
    border-radius: 4px;
    font-size: 10px;
    font-family:'Roboto-Black', sans-serif;
    color: #000;
    font-size: 16px;
    padding: 2px 5px;
    height: 20px;
}

.form-direccion input[type="text"]{
    width: 23.4%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 2px 5px;
    height: 20px;
}

.form-infoE2 input[type="number"]{
    width: 50px;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 0px 5px;
    height: 22px;
}

.form-infoE2 input[type="text"]{
    width: 100%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding-left: 0;
    padding: 0px 5px;
    height: 22px;
}
.form-infoE3{
    width: 100%;
    
}

.form-InfP input[type="text"],
.form-InfM input[type="text"],
.form-InfP input[type="email"],
.form-InfM input[type="email"]{
    width: 23.4%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 0px 5px;
    height: 22px;
}

.form-InfA input[type="text"]{
    width: 48.5%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 0px 5px;
    height: 22px;
}

.form-InfA2 input[type="text"]{
    width: 100%;
    border:1px solid #06c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    padding: 0px 5px;
    height: 22px;
}

.form-Ob input[type="text"]{
    width: 85%;
    border:  none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 16px;
    height: 20px;
    outline: none;
}



@media screen and (max-width:634px) {

    .form-inscrip{
        width: 100%;
    }
}
