.lrbody {
	padding-top: 0;
	font-family: sans-serif;
	background: url("/imee-project/public/") no-repeat center top;
	background-size: cover;
	width: 100%;
	height: 47rem;

}

.sub-label{
	text-align: left;
}

.login-box {
	background-color: #fff;
	border-radius: 20px;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	height: 420px;
	padding: 70px 30px;
	margin-top: 150px;
	width: 320px;
}

.login-box .icono {
	border-radius: 60%;
	border-color: black;
	border-width: 2px;
	left: calc(50% - 50px);
	height: 110px;
	position: absolute;
	top: 170px;
	width: 110px;
}

.login-box h1 {
	font-size: 20px;
	font-weight: normal;
	font-family: 'Roboto-Black', sans-serif;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
}

.login-box input {
	margin-bottom: 25px;
	width: 100%;
}

.login-box input[type="text"],
.login-box input[type="password"] {
	border:  none;
	border-bottom: 1px solid #000;
	color: #000;
	font-size: 16px;
	height: 20px;
	outline: none;
}

.login-box input[type="submit"]{
	background: #147c2d;
	border:  5px;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	height: 40px;
	outline: none;
}


.login-box input[type="submit"]:hover {
	background: #11612f;
}

.login-box a {
	font-size: 13px;
	color: #11612f;
	line-height: 20px;
	text-decoration: none;
}

.login-box a:hover{
	color: purple;
}

