.perfil-Insti {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.perfil-Insti i{
	color:  #147c2d;
	min-width: 22px;
}

.sección-perfil {
	display: flex;
	background: linear-gradient(80deg, #127F2E, #0B4E29, #135041);
	border-radius: 20px;
	color: #000;
	font-family: 'Roboto-Black', sans-serif;;
	height: 150px;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 55%;
	margin-bottom: 3rem;
}

.icon .icono {
	align-items: center;
    padding-top: 150px;
	width: 100px;
	height: 100px;
}

.info-Nombre,
.info-General,
.info-Contacto,
.info-PadresAcudiente,
.container {
	display: absolute;
	background: #fff;
	padding: 1.5rem 2rem;
	width: 50%;
	justify-content: unsafe center;
	text-align: center;
	position: relative;
	border-radius: 18px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .2);
	margin-bottom: 0.5rem;
}

.input-container{
    display: inline-flex;
    padding: 1rem;
}
.input-container i {
    padding: none;
}